<!DOCTYPE html>
<html lang="en" style="background-color: #EEEEEE;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@.1.2/css/themify-icons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/dash_style.css">
        <script src="https://kit.fontawesome.com/91e4545beb.js" crossorigin="anonymous"></script>
    </head>
    <body style="background-color: #EEEEEE;">
        <script type='text/javascript'>
            function submit1()
             {
                document.forms["form1"].submit();
             }
             function submit2()
             {
                console.log('Form2');
                document.forms["form2"].submit();
             }
             function submit3()
             {
                console.log('Form3');
                document.forms["form3"].submit();
             }
             function submit4()
             {
                console.log('Form4');
                document.forms["form4"].submit();
             }
             function submit5()
             {
                console.log('Form5');
                document.forms["form5"].submit();
             }
             function submit6()
             {
                console.log('Form6');
                document.forms["form6"].submit();
             }
             function submit7()
             {
                console.log('Form7');
                document.forms["form7"].submit();
             }
            function opennotify() {
                document.getElementById("notifypopup").style.display = "block";
            }
            function openprofile() {
                document.getElementById("profilepopup").style.display = "block";
            }
            function closenotify() 
            {
                document.getElementById("notifypopup").style.display = "none";
            }
            function closeprofile() 
            {
                document.getElementById("profilepopup").style.display = "none";
            }
        </script>
        <input type="checkbox" name="" id="sidebar-toggle">
        <div class="sidebar">
            <div name='namediv' id='namediv' class="sidebar-header">
                <h3 name='nameh3' id='nameh3' class="brand" style="background-color: #6d5cad; ">
                    <!-- <span class=""></span>  -->
                    <span name='name' id='name' style="background-color: #6d5cad">Hello Admin!</span>
                </h3> 
                <label for="sidebar-toggle" class="fas fa-bars" style="background-color: #6d5cad; font-size: 30px;"></label>
            </div>
            <div class="sidebar-menu">
                <ul >
                    <li>
                        <form id = 'form1' name = 'form1' action="http://localhost:8080/admin_dashboard_redirect" method="POST" style="background-color: #6d5cad;"></form>
                        <a href="javascript: submit1();" style="background-color: #6d5cad; text-decoration: none;">
                            <span class="fas fa-home" style="background-color: #6d5cad; font-size: 25px;"></span>
                            <span >Home</span>
                        </a>
                        </form>
                    </li>
                    <li>
                        <form id = 'form2' name = 'form2' action="http://localhost:8080/admin_calendar_redirect" method="POST" style="background-color: #6d5cad;"></form>
                        <a href="javascript: submit2();" style="background-color: #6d5cad; text-decoration: none;">
                            <span class="fas fa-calendar" style="background-color: #6d5cad; font-size: 25px;"></span>
                            <span style="background-color: #6d5cad;">Calendar</span>
                        </a>
                        </form>
                    </li>
                    <li>
                        <form id = 'form3' name = 'form3' action="http://localhost:8080/admin_reminder_redirect" method="POST" style="background-color: #6d5cad;">
                        <a href="javascript: submit3();" style="text-decoration: none;">
                            <span class="fas fa-clock" style="background-color: #6d5cad; font-size: 25px;"></span>
                            <span style="background-color: #6d5cad;">View Reminders</span>
                        </a>
                        </form>
                    </li>
                    <li>
                        <form id = 'form4' name = 'form4' action="http://localhost:8080/admin_users_redirect" method="POST" style="background-color: #6d5cad;">
                        <a href="javascript: submit4();" style="text-decoration: none;">
                            <span class="fas fa-users" style="background-color: #6d5cad; font-size: 25px;"></span>
                            <span style="background-color: #6d5cad;">View Users</span>
                        </a>
                        </form>
                    </li>
                    <li>
                        <form id = 'form6' name = 'form6' action="http://localhost:8080/admin_add_users_redirect" method="POST" style="background-color: #6d5cad;">
                        <a href="javascript: submit6();" style="text-decoration: none;">
                            <span class="fas fa-user-plus" style="background-color: #6d5cad; font-size: 25px;"></span>
                            <span style="background-color: #6d5cad;">Add User</span>
                        </a>
                        </form>
                    </li>
                    <li>
                        <form id = 'form7' name = 'form7' action="http://localhost:8080/admin_del_users_redirect" method="POST" style="background-color: #6d5cad;"></form>
                        <a href="javascript: submit7();" style="background-color: #6d5cad; text-decoration: none;">
                            <span class="fas fa-user-times" style="background-color: #6d5cad; font-size: 25px;"></span>
                            <span style="background-color: #6d5cad;">Remove User</span>
                        </a>
                        </form>
                    </li>
                    <li>
                        <form id = 'form5' name = 'form5' action="http://localhost:8080/login_redirect" method="POST" style="background-color: #6d5cad;"></form>
                        <a href="javascript: submit5();" style="background-color: #6d5cad; text-decoration: none;">
                            <span class="fas fa-sign-out-alt" style="background-color: #6d5cad; font-size: 25px;"></span>
                            <span >Log-Out</span>
                        </a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content" style="background-color: #EEEEEE;">
            <header>
                <form class="form-inline">
                    <div class="search-wrapper">
                        <span class="fas fa-search" style="font-size: 150%;"></span>
                        <input class="form-control"type="search" placeholder="Search">
                    </div>
                </form>
                <!--Notification popup-->
                <div class="notify-popup" id="notifypopup">
                    <a onclick="closenotify()"><button class="btn-danger btn-sm" style="right:0; color: white; border-color: none; align-items: center; border-radius: 25%;">x</button></a>
                    <h2>Notifications</h2>
                    <br>
                    <p>Notification 1</p>
                    <hr>
                    <p>Notification 2</p>
                </div>
                <!--Profile popup-->
                <div class="profile-popup" id="profilepopup">
                    <a onclick="closeprofile()" style="position:absolute; right: 2%; color:white; font-size:25px; text-align: end; font-weight: 700;"><button class="btn-danger btn-sm" style="color: white; border-color: none; align-items: center; border-radius: 25%;">x</button></a>
                    <h2>User</h2>
                    <ul>
                        <li style="padding-top:10px; font-size: 18px;">
                            <a href="javascript: submit4();" style="text-decoration: none; color: black;">
                                <span class="fas fa-user" style="text-decoration: none; color: black;"></span>
                                <span>View Profile</span>
                            </a>
                        </li>
                        <hr>
                        <li style=" font-size: 18px;">
                            <a href="javascript: submit4();" style="text-decoration: none; color: black;">
                                <span class="fas fa-sign-out-alt" style="text-decoration: none; color: black;"></span>
                                <span >Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="social-icons">
                    <a onclick="opennotify()" style="text-decoration: none; color: black;"><span class="far fa-bell" style="font-size: 150%;"><span class="badge-bell"></span></span></a><!--Bell-->
                    <a onclick="openprofile()" style="text-decoration: none; color: black;"><div></div></a>
                </div>
            </header>
        
        
            <main style="background-color: #EEEEEE;">
                <h2 class="dash-title" style="background-color: #EEEEEE;">Profile</h2>
                <div class="dash-cards " style="background-color: #EEEEEE; ">

                    <div class="card-single" style = "width: 90rem; height: 25rem;">
                        <div class="card-header text-white" style="background-color: #6d5cad; font-weight: bold; font-size: large;">
                            Details of Users
                        </div>
                        <div class="card-body">
                            
                            <form action="http://localhost:8080/admin_view_users" method="POST">
                                <center>
                                    <button type="submit" class="btn btn-black">View Users</button>
                                </center>
                                    <br>
                                  <div class="form-group" style="color:#000; overflow:scroll;" >
                                   <table class="table">
                                       <thead class="thead-dark" style="margin-left:10px;">
                                           <tr> 
                                           <th scope="col">Email</th>
                                           <th scope="col">Password</th>
                                           <th scope="col">Name</th>
                                           <th scope="col">Date of Birth</th>
                                           <th scope="col">Blood Group</th>
                                           <th scope="col">Mobile</th>
                                           <th scope="col">Address</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <% if(userData.length == 0){ %>
                                            <td colspan="10"><center>No Data Found</center></td>
                                           <% }; %> 
                                        <%
                                        if(userData.length != 0){
                                        for(i = 0; i < userData.length; i++){
                                        %>
                                           <tr>  
                                           <td><%- userData[i].email %></td>
                                           <td><%- userData[i].password %></td>
                                           <td><%- userData[i].Name %></td>
                                           <td><%- userData[i].dob.toString().substring(0,15) %></td>
                                           <td><%- userData[i].bg %></td>
                                           <td><%- userData[i].mobile %></td>
                                           <td><%- userData[i].address %></td>
                                           </tr>
                                        <% } } %>
                                       </tbody>
                                   </table>
                                   &nbsp;
                                   &nbsp;
                                   &nbsp;
                                 </div>   
                           </form>
                        </div>
                    </div>
                
                    
                <!-- <section class="recent">
                    <div class="activity-grid">
                        <div class="activity-card">
                            <h3>Recent Activity</h3>
                            <table class="table table-striped table-hover">
                                <thead >
                                    <tr>
                                        <th>Project</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Course</th>
                                        <th>Group Number</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>CalenDraft</td>
                                        <td>1 Jan, 2021</td>
                                        <td>Currently Ongoing</td>
                                        <td>Software Engineering</td>
                                        <td>7</td>
                                        <td>
                                            <div class="img-1"></div>
                                            <div class="img-2"></div>
                                            <div class="img-3"></div>
                                        </td> 
                                        <td>
                                            <span class="badge success">Success</span>
                                        </td>
                                        
                                    </tr>
                                    
                                    <tr>
                                        <td>CalenDraft</td>
                                        <td>1 Jan, 2021</td>
                                        <td>Currently Ongoing</td>
                                        <td>Software Engineering</td>
                                        <td>7</td>
                                        <td>
                                            <div class="img-1"></div>
                                            <div class="img-2"></div>
                                            <div class="img-3"></div>
                                        </td> 
                                        <td>
                                            <span class="badge success">Success</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>CalenDraft</td>
                                        <td>1 Jan, 2021</td>
                                        <td>Currently Ongoing</td>
                                        <td>Software Engineering</td>
                                        <td>7</td>
                                        <td>
                                            <div class="img-1"></div>
                                            <div class="img-2"></div>
                                            <div class="img-3"></div>
                                        </td> 
                                        <td>
                                            <span class="badge success">Success</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>CalenDraft</td>
                                        <td>1 Jan, 2021</td>
                                        <td>Currently Ongoing</td>
                                        <td>Software Engineering</td>
                                        <td>7</td>
                                        <td>
                                            <div class="img-1"></div>
                                            <div class="img-2"></div>
                                            <div class="img-3"></div>
                                        </td> 
                                        <td>
                                            <span class="badge success">Success</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>CalenDraft</td>
                                        <td>1 Jan, 2021</td>
                                        <td>Currently Ongoing</td>
                                        <td>Software Engineering</td>
                                        <td>7</td>
                                        <td>
                                            <div class="img-1"></div>
                                            <div class="img-2"></div>
                                            <div class="img-3"></div>
                                        </td> 
                                        <td>
                                            <span class="badge success">Success</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 

                            <table class="table table-secondary">
                                <caption>CalenDraft</caption>
                                <thead>
                                  <tr>
                                    <th scope="col">Project</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Course</th>
                                    <th scope="col">Group Number</th>
                                    <th scope="col">Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>CalenDraft</td>
                                    <td>1 Jan, 2021</td>
                                    <td>Currently Ongoing</td>
                                    <td>Software Engineering</td>
                                    <td>7</td>
                                    <td>
                                        <div class="img-1"></div>
                                        <div class="img-2"></div>
                                        <div class="img-3"></div>
                                    </td>  
                                    <td>
                                        <span class="badge success">Success</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>CalenDraft</td>
                                    <td>1 Jan, 2021</td>
                                    <td>Currently Ongoing</td>
                                    <td>Software Engineering</td>
                                    <td>7</td>
                                    <td>
                                        <div class="img-1"></div>
                                        <div class="img-2"></div>
                                        <div class="img-3"></div>
                                    </td>  
                                    <td>
                                        <span class="badge success">Success</span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>

                        <div class="summary">
                            <div class="summary-card">
                                
                                <div class="summary-single">
                                    <span class="ti-id-badge"></span>
                                    <div>
                                        <h5>6</h5>
                                        <small>Text1</small>
                                    </div>
                                </div>

                                <div class="summary-single">
                                    <span class="ti-id-calendar"></span>
                                    <div>
                                        <h5>6</h5>
                                        <small>Text2</small>
                                    </div>
                                </div>

                                <div class="summary-single">
                                    <span class="ti-id-face-smile"></span>
                                    <div>
                                        <h5>6</h5>
                                        <small>Text3</small>
                                    </div>
                                </div>
                            </div>

                            <div class="bday-card">
                                <div class="bday-img">
                                    <div class="bday-info">
                                        <h5>Text1</h5>
                                        <small>Text2</small>

                                        <div>
                                            <button>
                                                <span class="ti-gift"></span>
                                                Click Here
                                            </button>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->

            </main>
        </div>
            
        <script src = "../jquery.js"></script>
        <script src = "../indexScript.js"></script>
    </body>
</html>